<div class="row" >
    <div class="col-md-12">
        <form (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for= "name">Name</label>
                    <input  
                        name="name"
                        #name='ngModel'
                        [(ngModel)]="nameEl"
                        required
                        type="text" id="name" class="form-control">
                        <span *ngIf="!name.valid && name.touched" class="help-group">Name is not valid !</span>
                </div>
                <div class="col-sm-3 form-group">
                    <label for = "amount">Amount</label>
                    <input 
                        name="amount"
                        [(ngModel)]="amountEl"
                        #amount='ngModel'
                        required
                        type="number" id="amount" class="form-control">
                        <span *ngIf="!amount.valid && amount.touched" class="help-group">Amount is not valid !</span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-success" [disabled]="!form.valid" type="submit">
                        {{editMode ? 'update': 'add'}}
                    </button> 

                    <button *ngIf="editMode" class="btn btn-danger" type="button" (click)="onDelete()">
                        Delete
                    </button> 
                    <button class="btn btn-primary" type="button" (click)="onClear()">
                        Clear
                    </button> 
                </div>
            </div>
        </form>
    </div>
</div>
